body{
    margin: 30px 
}
.grid-container{
    background: #eee;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
 }
.grid-container > div {
    background: #ccc;
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
    
}
